.searchFormContainer {
  border: 1px solid rgba(12, 12, 12, 0.74);
  background: rgba(217, 217, 217, 0);
  flex-shrink: 0;
  margin: 0 auto;
  padding: 25px 129px;
  align-items: center;
}

.keywordContainer {
  background: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  gap: 18px;
}

.queryContainer {
  background: rgba(255, 255, 255, 0);
  align-items: center;
  padding-top: 20px;
}

/*
.genreContainer{
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.00);
}

.categoryContainer{
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.00);
}

.tagContainer{
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0.00);
}
*/

.keywordInput {
  width: 80%;
  height: 61px;
}

.keyword-field-radius fieldset {
  border-radius: 20px;
}

.griditem-border {
}

/*
.manField,
.womanField,
.grossPeopleField,
.playTimeField {
  display: flex;
  align-items: center;
  gap: 10px;
}

.manField,
.womanField,
.grossPeopleField,
.playTimeField {
  margin-top: 20px;
}

*/
